@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Reem+Kufi:wght@400..700&display=swap");

.dancingFont {
  font-family: "Dancing Script", cursive !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  font-style: normal !important;
  /* hello */
  /* hello */
}
.bg-image img {
  /* background-repeat: no-repeat; */
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
