@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Reem+Kufi:wght@400..700&display=swap");

.dancingFont {
  font-family: "Dancing Script", cursive !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  font-style: normal !important;
}
.bg-image {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.158); */
}
.bg-image video {
  /* background-repeat: no-repeat; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

.input-form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  z-index: 2;
  margin-bottom: 25px;
}

.search-btn {
  width: 230px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
.table-container {
  margin: 15px 15px;
}

.table-container {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 730px) {
  .inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .search-btn {
    width: 100%;
  }
}

.MuiInputBase-root {
  background-color: white !important;
}
